SECRET_KEY=django-insecure-a*!&w9#$9hh&gn5f!qbhi(ih=$9$(d9x*tye3lmga(%-c(!*(g
DEBUG=True
ALLOWED_HOSTS=127.0.0.1

# Database Credentials

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=